<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOaW_g16m_UudMBTzSkS40NmBNNxpQqwc</string>
	<key>GCM_SENDER_ID</key>
	<string>677163314304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toysfortexans.Toys-Handler</string>
	<key>PROJECT_ID</key>
	<string>meta-tracker-355700</string>
	<key>STORAGE_BUCKET</key>
	<string>meta-tracker-355700.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677163314304:ios:9c5d66c246ac8a2bcb8a65</string>
</dict>
</plist>